        {{> nav}}
        <div id="header">
            <div class="logo">
                Defend the Web<br/>
                <span>An Interactive Cyber Security Course</span><br/>
                <a href="/course">Get started</a>
            </div>
            <div id="network-background"></div>
        </div>
        <article>
            <div class="container">
                <div class="row-fluid">
                    <div class="col6 center">
                        <h3>Cyber Security is a Shared Responsibility</h3>
                        <p>Internet security is not just for blah blah blah</p>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row-fluid">
                    <div class="col6 center">
                        <h3>Start Learning</h3>
                        <p>Defend the Web courses will guide you through the essentials to get started. As you progress more complex topics will be introduced to build up your knowledge.</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col4">
                        <div class="card">
                            <h4>Injection</h4>
                            <p>When untrusted data gets executed from SQLi to LDAP injection.</p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="card">
                            <h4>XSS</h4>
                            <p>One of the easiest and most widely exploitable entry points.</p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="card">
                            <h4>Session management</h4>
                            <p>Authentication and session management routines are often misunderstood and complicated allowing for the perfect attack vector to compromise passwords and gain access to users' accounts.</p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col4">
                        <div class="card">
                            <h4>CSRF</h4>
                            <p>Trick an authenticated user's browser to send forged requests. Allowing the attacker to generate any request the victim can perform.</p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="card">
                            <h4>Human error</h4>
                            <p>Developers make mistakes. The most secure system can become completely redundant due to human error. From misunderstood code patches to phishing attacks.</p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="card">
                            <h4>Privacy</h4>
                            <p>Security is not only about securing the applications we make and use but also to protect our privacy. PGP, Tor and other privacy techniques are vital in securing your privacy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row-fluid">
                    <div class="col6 center">
                        <h3>How It Works</h3>
                        <p>Internet security is not just for high end developers</p>


                        <div class="timeline">
                            <div class="timeline-section">
                                <h5>Learn</h5>
                                <p>Each topic will be introduced with a brief overview. Each topic will be analyzed and explored in detail in manageable and easy to understand chunks.
                            </div>
                            <div class="timeline-section">
                                <h5>Experiment</h5>
                                <p>The topics are accompanied by interactive portions to put what you have learnt to use in practical situations. With a variety of scenarios from attacker to developer.
                            </div>
                            <div class="timeline-section">
                                <h5>Challenge</h5>
                                <p>At the end of each topic you will be challanged to test your knowledge against an indepth real world challenges. More challanges are available outside of the courses, these can be taken at anytime and will put everything you have learnt to the test.</p>
                            </div>
                            <div class="timeline-section">
                                <h5>Progress</h5>
                                <p>Keep track of all your activity, racking up points in the challanges and earn medals. Connect with other users and see how you rank up.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row-fluid">
                    <div class="col6 center">
                        <h3>Get Started</h3>
                        <p>Internet security is not just for high end developers</p>
                    </div>
                </div>
            </div>
        </article>